tcp_server=192.168.31.75
target_temp=28
target_humi=80
proof_material=jm
oled_width=128
oled_height=64
oled_scl_pin=12
oled_sda_pin=13
heater1_pin=25
heater2_pin=16
low_heater_pin=4
humi_pin=26
fan_pin=33
inner_fan_pwm_pin=27
sensor_pin=14
inner_light_pin=32
touch_pad_pin=15
power_control_pin=2
sm78_tx=22
sm78_rx=23
sm78_ctl=21