tcp_server=192.168.31.75
min_temp=26
max_temp=28
min_humi=75
max_humi=85
proof_material=jm
no_interal_fan=0
oled_scl_pin=12
oled_sda_pin=13
oled_width=128
oled_height=64
heater_pin=25
humi_pin=26
fan_pin=33
inner_fan_pwm_pin=27
inner_fan_pin=32
inner_fan_speed=100
sensor_pin=14
inner_light_pin=32
inner_light_control_pin=15
power_control_pin=2