tcp_server=192.168.31.75
target_temp=28
target_humi=80
proof_material=jm
oled_width=128
oled_height=64
oled_scl_pin=12
oled_sda_pin=13
power_control_pin=15
humi_pin=26
heater1_pin=33
heater1_pwm=13
heater2_pin=25
sm78_tx=5
sm78_rx=17
sm78_ctl=16
inner_light_pin=4
low_heater_pin=2
led_sck=21
led_mosi=23
led_cs=22
inner_fan_pwm_pin=18
sensor_pin=34
fan_pin=19
touch_pad_pin=14
temp_up_pin=39
temp_down_pin=38
humi_up_pin=37
humi_down_pin=36