[functions]
heater=发酵
cooler=冷藏
exhaust=排气

[sensors]
up=dht_22:13
low=dht_22:14

[power]
v12_pin=Pin:5

[heater]
heater=Pwm:10

[humi]
humi=Pin:18

[fan]
fan=Pwm:19

[light]
light=Pin:17

[frig]
frig=Pin:16

[input]
keys={'temp_up':25,'temp_down':26,'humi_up':32,'humi_down':33}

[display]
sck=clk=22
mosi=din=21
cs=23