[sensors]
inner=sm78:5,17,16 #tx,rx,ctl

[power]
power=Pin:15

[heater]
heater_low=Pin:2
heater1=Pin:25
heater2=PWM:13
heater3=Pin:33

[humi]
humi=Pin:26

[fan]
inner_fan=PWM:18
fan=PWM:19

[light]
light=Pin:4

[frig]
frig=Pin:16

[input]
keys={'temp_up':12,'temp_down':32,'humi_up':27,'humi_down':14}

[display]
sck=clk=23
mosi=din=21
cs=22




